body {
  background-color: #fffffd;
  font-family: 'Lora', serif;
  margin: 0 auto;
  max-width: 1000px;
  font-size: large;
}

header {
  height: 85px;
  top: 0;
  background-color: #fffffd;
  font-size: 50px;
  color: #4e2c00;
  text-align: center;
}

header, h1, h2, h3, h4, h5, h6 {
  font-style: italic;
}

hr {
  width: 75%;
}

.controls {
  display: inline-block;
  margin: 0.5em 0 0;
}

.controls .header {
  margin: 0 0 0.4em;
  border-bottom: 1px solid #bfbfbf;
  padding: 0 0 0.2em;
}

.controls label {
  display: block;
  margin: 0.3em 0;
}

.sticky {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  z-index: 10;
}

.canvas {
  top: 85px;
  padding: 0;
  background-color: #fffffd;
}

.canvas svg {
  border: 1px solid #bfbfbf;
  max-height: 60vh;
}

.step {
  margin-bottom: 20em;
}