html {
  height: 100%;
}


/* Background image credit:

<span>Photo by <a href="https://unsplash.com/@pawel_czerwinski?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Paweł Czerwiński</a> on <a href="https://unsplash.com/backgrounds/art/texture?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
*/
body {
  height: 100%;
  margin: 0;
  font-size: large;
  background-image: url("/splash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* This is the React root */
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* This is the application root */
.demo {
  font-family: 'Nunito', sans-serif;
  background-color: #fffffd;
  max-width: 800px;
  padding: 30px;
  margin: 50px;
  border: 1px solid black;
}

header {
  background-color: #fffffd;
  font-size: 50px;
  color: #4e2c00;
  text-align: center;
  margin-bottom: 0.7em;
}

header, h1, h2, h3, h4, h5, h6 {
  font-style: italic;
}

hr {
  width: 75%;
}

.inline-question {
  display: flex;
  align-items: center;
  justify-content: center;
}

.self-identification fieldset label {
  margin: 0 16px;
}

.continue {
  text-align: right;
  margin: 3em 0 0;
}

.data-collection {
  margin-top: 4em;
  text-align: center;
}

.data-collection [role=progressbar] {
  margin: 1em 0;
}


.controls {
  display: inline-block;
  margin: 0.5em 0 0;
}

.controls .header {
  margin: 0 0 0.4em;
  border-bottom: 1px solid #bfbfbf;
  padding: 0 0 0.2em;
}

.controls label {
  display: block;
  margin: 0.3em 0;
}

.canvas {
  top: 85px;
  padding: 0;
  background-color: #fffffd;
}

.canvas svg {
  border: 1px solid #bfbfbf;
  max-height: 60vh;
}

.step {
  margin-bottom: 20em;
}